---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<table>
<thead>
<tr>
<th>Term</th>
<th>Formation</th>
<th>Place</th>
<th>Hours</th>
</tr>
</thead>
<tbody>
<tr>
<td>Sep.-Dec. 2017</td>
<td>Statistical Methods for Biology. L2 Biology</td>
<td>UGA</td>
<td>36h</td>
</tr>
<tr>
<td>Jan.-May  2017</td>
<td>Calculus and computations. L1 MIASHS</td>
<td>UGA</td>
<td>20h</td>
</tr>
<tr>
<td>Sep.-Dec. 2018</td>
<td>Statistical Methods for Biology. L2 Biology</td>
<td>UGA</td>
<td>36h</td>
</tr>
<tr>
<td>Sep.-Dec. 2018</td>
<td>Geometry and Algebra. L1 Physics, Chem., Meca., Maths (PCMM)</td>
<td>UGA</td>
<td>28h</td>
</tr>
<tr>
<td>Sep.-Dec. 2019</td>
<td>Statistical Methods for Biology. L2 Biology</td>
<td>UGA</td>
<td>18h</td>
</tr>
<tr>
<td>Sep.-Dec. 2024</td>
<td>Applied Analysis. 1st year engineering students (L3)</td>
<td>Centrale Lyon</td>
<td>24h</td>
</tr>
</tbody>
</table>

162h of teaching between September 2017 and December 2024



{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
