---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
## Summary

| Term            | Formation                                                                        | Hours |
| --------------- | ---------                                                                        | --------------- |
| Sep.-Dec. 2017  | Statistical Methods for Biology. L2 Biology                                      | 36h             |
| Jan.-May  2017  | Calculus and computations. L1 MIASHS                                             | 20h             |
| Sep.-Dec. 2018  | Statistical Methods for Biology. L2 Biology                                      | 36h             |
| Sep.-Dec. 2018  | Geometry and Algebra. L1 Physics, Chemistry, Mecanics, Maths (PCMM)              | 28h             |
| Sep.-Dec. 2019  | Statistical Methods for Biology. L2 Biology                                      | 18h             |

138h of teaching between September 2017 and December 2019

## Details

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
